// ========================= [ Header styles ] =========================
.header {
    background-color: $bodyColor;
    box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
    margin: 0 0 60px 0;

    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__button

    &__button {
        min-width: 77px;

        @media (max-width: $breakpoint768) {
            margin: 0 0 0 20px;
        }
    }

    // .header__button-sign

    &__button-sign {
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: $fontColor;
        font-size: 14px;

        @media (max-width: $breakpoint480) {
            svg {
                display: none;
            }
        }
    }
}
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 0;
    column-gap: 30px;

    @media (max-width: $breakpoint992) {
        column-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
        width: 100%;
        column-gap: 0;
        justify-content: space-between;
    }
}
.logo {
    font-size: 0;
}
.menu {
    display: flex;
    gap: 30px;

    @media (max-width: $breakpoint992) {
        column-gap: 20px;
    }
    // .menu__item

    &__item {
        display: flex;
        position: relative;
    }

    // .menu__item-link

    &__item-link {
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: $fontColor;
        font-size: 14px;
        line-height: 142.857143%; /* 20/14 */
        position: relative;
        transition: 0.5s color;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -3px;
            background: #131418;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;
        }
        &:hover {
            color: #131418;
            &:after {
                transform: scale(1);
            }
        }

        @media (max-width: 800px) {
            svg {
                display: none;
            }
        }
    }

    // Mobile menu styles

    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: $burgerColor;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 2;
            animation: fade 0.1s linear;
        }
    }
}

// ========================= [ Burger styles ] =========================
.burger {
    display: none;
    background: transparent;
    z-index: 3;
    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;

        &.active {
            &:before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
}